workflows/cold-lead-warming.json
{
  "id": "XYDPZrDBrip1GPDE",
  "name": "Cold Lead Warming — Daily Outreach",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Toronto",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true
  },
  "nodes": [
    {
      "id": "trigger-schedule",
      "name": "Daily 9AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "fetch-leads",
      "name": "Fetch Leads from CRM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "jsCode": "// Fetch cold leads from CRM — supports Activix and GHL\nconst provider = $env.CRM_PROVIDER || 'activix';\n\nfunction getCrmConfig() {\n  if (provider === 'ghl') {\n    return {\n      baseUrl: 'https://services.leadconnectorhq.com',\n      headers: { 'Authorization': `Bearer ${$env.GHL_API_KEY}`, 'Version': '2021-07-28', 'Content-Type': 'application/json', 'Accept': 'application/json' },\n    };\n  }\n  return {\n    baseUrl: $env.ACTIVIX_API_URL || 'https://api.crm.activix.ca/v2',\n    headers: { 'Authorization': `Bearer ${$env.ACTIVIX_API_TOKEN}`, 'Content-Type': 'application/json', 'Accept': 'application/json' },\n  };\n}\n\nconst config = getCrmConfig();\n\n// Normalize lead from CRM-specific format to common format\nfunction normalizeLead(raw) {\n  if (provider === 'ghl') {\n    return {\n      id: raw.id || raw.contactId,\n      first_name: raw.firstName || raw.first_name || raw.name?.split(' ')[0] || null,\n      last_name: raw.lastName || raw.last_name || raw.name?.split(' ').slice(1).join(' ') || null,\n      email: raw.email || null,\n      phone: raw.phone || null,\n      phones: raw.phone ? [{ number: raw.phone }] : [],\n      emails: raw.email ? [{ address: raw.email }] : [],\n      locale: raw.tags?.includes('french') ? 'fr-CA' : null,\n      postal_code: raw.postalCode || raw.address?.postalCode || null,\n      vehicles: [],\n      advisor: raw.assignedTo ? { name: raw.assignedTo } : null,\n      consent_type: 'implied',\n      consent_date: raw.dateAdded || null,\n      created_at: raw.dateAdded || raw.createdAt || null,\n      result: raw.tags?.includes('lost') ? 'lost' : (raw.tags?.includes('sold') ? 'sold' : 'pending'),\n      division: raw.tags?.includes('used') ? 'used' : 'new',\n      unsubscribe_all_date: raw.dnd ? new Date().toISOString() : null,\n      unsubscribe_sms_date: raw.dndSettings?.SMS?.status === 'active' ? new Date().toISOString() : null,\n      unsubscribe_email_date: raw.dndSettings?.Email?.status === 'active' ? new Date().toISOString() : null,\n      _provider: 'ghl',\n      _raw: raw,\n    };\n  }\n  // Activix leads are already in expected format\n  return { ...raw, _provider: 'activix', _raw: raw };\n}\n\nlet allLeads = [];\n\nif (provider === 'ghl') {\n  // GHL: search contacts with pipeline/status filters\n  const GHL_LOCATION_ID = $env.GHL_LOCATION_ID || '';\n  let hasMore = true;\n  let offset = 0;\n  const limit = 100;\n\n  while (hasMore) {\n    const url = `${config.baseUrl}/contacts/?locationId=${GHL_LOCATION_ID}&limit=${limit}&startAfter=${offset}`;\n    const response = await fetch(url, { method: 'GET', headers: config.headers });\n    if (!response.ok) throw new Error(`GHL API error: ${response.status} ${response.statusText}`);\n    const data = await response.json();\n    const contacts = data.contacts || [];\n\n    const filtered = contacts.filter(c => {\n      if (c.dnd) return false;\n      const tags = c.tags || [];\n      if (tags.includes('lost') || tags.includes('invalid') || tags.includes('duplicate') || tags.includes('delivered') || tags.includes('sold')) return false;\n      return true;\n    });\n\n    allLeads = allLeads.concat(filtered.map(normalizeLead));\n    if (contacts.length < limit) hasMore = false;\n    else offset += limit;\n    if (offset > 1000) hasMore = false;\n  }\n} else {\n  // Activix: paginated lead fetch with filters\n  const ACTIVIX_API_URL = config.baseUrl;\n  let page = 1;\n  const perPage = 100;\n  let hasMore = true;\n  const excludeResults = ['lost', 'invalid', 'duplicate', 'delivered', 'sold'];\n  const includeDivisions = ['new', 'used'];\n\n  while (hasMore) {\n    const params = new URLSearchParams({\n      page: String(page),\n      per_page: String(perPage),\n      'result[]': 'pending',\n      'division[]': 'new',\n    });\n    params.append('result[]', 'attempted');\n    params.append('division[]', 'used');\n\n    const response = await fetch(`${ACTIVIX_API_URL}/leads?${params.toString()}`, {\n      method: 'GET',\n      headers: config.headers,\n    });\n    if (!response.ok) throw new Error(`Activix API error: ${response.status} ${response.statusText}`);\n    const data = await response.json();\n    const leads = data.data || [];\n\n    const filtered = leads.filter(lead => {\n      if (excludeResults.includes(lead.result)) return false;\n      if (!includeDivisions.includes(lead.division)) return false;\n      return true;\n    });\n\n    allLeads = allLeads.concat(filtered.map(normalizeLead));\n    if (leads.length < perPage) hasMore = false;\n    else page++;\n    if (page > 10) hasMore = false;\n  }\n}\n\nreturn [{ json: { leads: allLeads, totalFetched: allLeads.length, fetchedAt: new Date().toISOString(), provider } }];"
      }
    },
    {
      "id": "filter-eligible",
      "name": "Filter Eligible Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "jsCode": "// Filter eligible leads:\n// 1. Exclude unsubscribed\n// 2. Filter to leads due for next touch based on cadence schedule\n//    Day 0=instant (Epic 9), Day 2, 4, 7, 14, 30, 60+\n\nconst input = $input.first().json;\nconst leads = input.leads || [];\nconst now = new Date();\n\nconst TOUCH_SCHEDULE = {\n  2: 2, 3: 4, 4: 7, 5: 14, 6: 30, 7: 60,\n};\n\nconst MONTHLY_INTERVAL = 30;\n\nfunction daysSinceCreation(createdAt) {\n  const created = new Date(createdAt);\n  return Math.floor((now.getTime() - created.getTime()) / (1000 * 60 * 60 * 24));\n}\n\nfunction isUnsubscribed(lead) {\n  return !!(lead.unsubscribe_all_date || (lead.unsubscribe_sms_date && lead.unsubscribe_email_date));\n}\n\nfunction determineTouchNumber(lead) {\n  const days = daysSinceCreation(lead.created_at);\n  if (days < 2) return null;\n  let touchNumber = 1;\n  for (const [touch, dayThreshold] of Object.entries(TOUCH_SCHEDULE)) {\n    if (days >= dayThreshold) touchNumber = parseInt(touch);\n  }\n  if (days > 60) {\n    const extraMonths = Math.floor((days - 60) / MONTHLY_INTERVAL);\n    touchNumber = 7 + extraMonths;\n  }\n  return touchNumber;\n}\n\nfunction isTouchDueToday(lead, touchNumber) {\n  const days = daysSinceCreation(lead.created_at);\n  if (touchNumber <= 7) {\n    const touchDay = TOUCH_SCHEDULE[touchNumber];\n    if (!touchDay) return false;\n    const nextTouchDay = TOUCH_SCHEDULE[touchNumber + 1] || touchDay + MONTHLY_INTERVAL;\n    return days >= touchDay && days < nextTouchDay;\n  }\n  const touchDay = 60 + (touchNumber - 7) * MONTHLY_INTERVAL;\n  const nextTouchDay = touchDay + MONTHLY_INTERVAL;\n  return days >= touchDay && days < nextTouchDay;\n}\n\nconst eligibleLeads = [];\n\nfor (const lead of leads) {\n  if (isUnsubscribed(lead)) continue;\n  const touchNumber = determineTouchNumber(lead);\n  if (touchNumber === null) continue;\n  if (!isTouchDueToday(lead, touchNumber)) continue;\n  eligibleLeads.push({\n    ...lead,\n    _touchNumber: touchNumber,\n    _daysSinceCreation: daysSinceCreation(lead.created_at),\n  });\n}\n\nreturn [{ json: { leads: eligibleLeads, eligibleCount: eligibleLeads.length, processedAt: new Date().toISOString() } }];"
      }
    },
    {
      "id": "determine-touch",
      "name": "Determine Touch Number",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300],
      "parameters": {
        "jsCode": "// Enrich each lead with touch details: channel, strategy, label\n\nconst input = $input.first().json;\nconst leads = input.leads || [];\n\nconst CHANNEL_MAP = { 2: 'sms', 3: 'email', 4: 'sms', 5: 'email', 6: 'sms', 7: 'email' };\nconst STRATEGY_MAP = { 2: 'followup_sms', 3: 'feature_email', 4: 'persistence_sms', 5: 'value_email', 6: 'breakup_sms', 7: 'monthly_email' };\n\nconst enrichedLeads = leads.map(lead => {\n  const touch = lead._touchNumber;\n  const channel = touch >= 7 ? 'email' : (CHANNEL_MAP[touch] || 'email');\n  const strategy = touch >= 7 ? 'monthly_email' : (STRATEGY_MAP[touch] || 'monthly_email');\n  return { ...lead, _channel: channel, _strategy: strategy, _touchLabel: `Touch ${touch}: ${strategy} via ${channel}` };\n});\n\nreturn enrichedLeads.map(lead => ({ json: lead }));"
      }
    },
    {
      "id": "split-batches",
      "name": "Process Each Lead",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [960, 300],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "detect-language",
      "name": "Detect Language",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300],
      "parameters": {
        "jsCode": "// Language detection: locale -> area code (Quebec) -> postal code -> en-CA default\n\nconst lead = $input.first().json;\nconst QUEBEC_AREA_CODES = ['418', '438', '450', '514', '579', '581', '819', '873'];\nconst QUEBEC_POSTAL_PREFIXES = ['G', 'H', 'J'];\n\nfunction detectLanguage(lead) {\n  if (lead.locale) {\n    const locale = lead.locale.toLowerCase();\n    if (locale.startsWith('fr')) return 'fr-CA';\n    if (locale.startsWith('en')) return 'en-CA';\n  }\n  const phones = lead.phones || [];\n  for (const phone of phones) {\n    const number = (phone.number || phone.phone || '').replace(/[^0-9]/g, '');\n    let areaCode = '';\n    if (number.length === 11 && number.startsWith('1')) areaCode = number.substring(1, 4);\n    else if (number.length === 10) areaCode = number.substring(0, 3);\n    if (QUEBEC_AREA_CODES.includes(areaCode)) return 'fr-CA';\n  }\n  if (lead.phone) {\n    const number = lead.phone.replace(/[^0-9]/g, '');\n    let areaCode = '';\n    if (number.length === 11 && number.startsWith('1')) areaCode = number.substring(1, 4);\n    else if (number.length === 10) areaCode = number.substring(0, 3);\n    if (QUEBEC_AREA_CODES.includes(areaCode)) return 'fr-CA';\n  }\n  const postalCode = lead.postal_code || lead.address?.postal_code || '';\n  if (postalCode && QUEBEC_POSTAL_PREFIXES.includes(postalCode.charAt(0).toUpperCase())) return 'fr-CA';\n  return 'en-CA';\n}\n\nreturn [{ json: { ...lead, _locale: detectLanguage(lead) } }];"
      }
    },
    {
      "id": "inventory-match",
      "name": "Inventory Match",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 300],
      "parameters": {
        "jsCode": "// Inventory match placeholder — in production calls Nexus InventoryService\n\nconst lead = $input.first().json;\nconst vehicles = lead.vehicles || [];\nconst wantedVehicle = vehicles.find(v => v.type === 'wanted') || vehicles[0] || {};\n\nconst inventoryQuery = {\n  make: wantedVehicle.make || null,\n  model: wantedVehicle.model || null,\n  year: wantedVehicle.year || null,\n  maxPrice: wantedVehicle.price || null,\n};\n\nconst vehicleMatches = [];\n\nreturn [{ json: { ...lead, _inventoryQuery: inventoryQuery, _vehicleMatches: vehicleMatches } }];"
      }
    },
    {
      "id": "generate-message",
      "name": "Generate Touch Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 300],
      "parameters": {
        "jsCode": "// Generate outbound message by touch number and channel\n// 2=followup SMS, 3=feature email, 4=persistence SMS, 5=value email, 6=breakup SMS, 7+=monthly email\n\nconst lead = $input.first().json;\nconst touch = lead._touchNumber;\nconst channel = lead._channel;\nconst locale = lead._locale || 'en-CA';\nconst firstName = lead.first_name || lead.name?.split(' ')[0] || 'there';\nconst vehicleMatch = (lead._vehicleMatches || [])[0] || null;\nconst vehicleDesc = vehicleMatch\n  ? `${vehicleMatch.year} ${vehicleMatch.make} ${vehicleMatch.model}`\n  : (lead.vehicles?.[0] ? `${lead.vehicles[0].year || ''} ${lead.vehicles[0].make || ''} ${lead.vehicles[0].model || ''}`.trim() : 'vehicle');\n\nconst dealershipName = $env.DEALERSHIP_NAME || 'the dealership';\nconst repName = lead.advisor?.name || $env.DEFAULT_REP_NAME || 'our team';\nconst optOut = locale === 'fr-CA'\n  ? '\\nReply STOP to opt out / Repondez STOP pour vous desabonner'\n  : '\\nReply STOP to opt out';\n\nconst templates = {\n  'en-CA': {\n    2: { sms: `Hi ${firstName}, just following up from ${dealershipName}! Still interested in the ${vehicleDesc}? Happy to answer any questions. - ${repName}${optOut}` },\n    3: { email: { subject: `${firstName}, check out what the ${vehicleDesc} has to offer`, body: `Hi ${firstName},\\n\\nI wanted to share some highlights about the ${vehicleDesc} you were looking at:\\n\\n${vehicleMatch?.features?.slice(0, 3).join(', ') || 'Great features available on this model'}\\n\\nBased on our current listings, we have options that might be a great fit for you. Would you like to schedule a time to take a closer look?\\n\\nBest regards,\\n${repName}\\n${dealershipName}${optOut}` } },\n    4: { sms: `Hey ${firstName}, I know life gets busy! Just wanted you to know the ${vehicleDesc} is still available at ${dealershipName}. Want me to hold it for a test drive? - ${repName}${optOut}` },\n    5: { email: { subject: `${firstName}, why ${dealershipName} customers love the ${vehicleDesc}`, body: `Hi ${firstName},\\n\\nI thought you might like to know why the ${vehicleDesc} continues to be one of our most popular choices:\\n\\n- Strong resale value\\n- Excellent safety ratings\\n- Low cost of ownership\\n\\nBased on our current listings, we still have great options available. I am here whenever you are ready to explore further.\\n\\nBest regards,\\n${repName}\\n${dealershipName}${optOut}` } },\n    6: { sms: `Hi ${firstName}, it looks like the timing might not be right for the ${vehicleDesc} -- no worries at all. Whenever you are ready, I am here to help. All the best! - ${repName}, ${dealershipName}${optOut}` },\n    7: { email: { subject: `${firstName}, new arrivals at ${dealershipName} you might like`, body: `Hi ${firstName},\\n\\nWe have some exciting new arrivals at ${dealershipName} that match your interest in a ${vehicleDesc}:\\n\\nBased on our current listings, there are fresh options on the lot. If you would like to see what is new, feel free to reach out anytime.\\n\\nBest regards,\\n${repName}\\n${dealershipName}${optOut}` } },\n  },\n  'fr-CA': {\n    2: { sms: `Bonjour ${firstName}, c'est ${repName} de ${dealershipName}! Toujours interesse(e) par le ${vehicleDesc}? N'hesitez pas si vous avez des questions.${optOut}` },\n    3: { email: { subject: `${firstName}, decouvrez le ${vehicleDesc}`, body: `Bonjour ${firstName},\\n\\nJe voulais partager quelques points forts du ${vehicleDesc} qui vous interessait :\\n\\n${vehicleMatch?.features?.slice(0, 3).join(', ') || 'Des caracteristiques exceptionnelles disponibles sur ce modele'}\\n\\nSelon nos inventaires actuels, nous avons des options qui pourraient vous convenir. Aimeriez-vous prendre rendez-vous pour y jeter un coup d'oeil?\\n\\nCordialement,\\n${repName}\\n${dealershipName}${optOut}` } },\n    4: { sms: `Salut ${firstName}, je sais que le temps file! Le ${vehicleDesc} est toujours disponible chez ${dealershipName}. On vous reserve un essai routier? - ${repName}${optOut}` },\n    5: { email: { subject: `${firstName}, pourquoi nos clients adorent le ${vehicleDesc}`, body: `Bonjour ${firstName},\\n\\nJe voulais vous partager pourquoi le ${vehicleDesc} reste un de nos choix les plus populaires :\\n\\n- Excellente valeur de revente\\n- Cotes de securite superieures\\n- Faible cout de possession\\n\\nSelon nos inventaires actuels, nous avons encore de belles options. Je suis la quand vous serez pret(e).\\n\\nCordialement,\\n${repName}\\n${dealershipName}${optOut}` } },\n    6: { sms: `Bonjour ${firstName}, on dirait que le moment n'est peut-etre pas ideal pour le ${vehicleDesc} -- pas de souci du tout. Je reste disponible quand vous serez pret(e). Bonne continuation! - ${repName}, ${dealershipName}${optOut}` },\n    7: { email: { subject: `${firstName}, nouveaux arrivages chez ${dealershipName}`, body: `Bonjour ${firstName},\\n\\nNous avons de nouveaux arrivages chez ${dealershipName} qui correspondent a votre interet pour un ${vehicleDesc} :\\n\\nSelon nos inventaires actuels, il y a des options fraiches sur le terrain. N'hesitez pas a nous contacter si vous voulez voir les nouveautes.\\n\\nCordialement,\\n${repName}\\n${dealershipName}${optOut}` } },\n  },\n};\n\nconst localeTemplates = templates[locale] || templates['en-CA'];\nconst touchKey = touch >= 7 ? 7 : touch;\nconst touchTemplate = localeTemplates[touchKey] || localeTemplates[7];\n\nlet message = null;\nlet subject = null;\n\nif (channel === 'sms' && touchTemplate.sms) {\n  message = touchTemplate.sms;\n} else if (channel === 'email' && touchTemplate.email) {\n  message = touchTemplate.email.body;\n  subject = touchTemplate.email.subject;\n} else {\n  if (touchTemplate.sms) message = touchTemplate.sms;\n  else if (touchTemplate.email) { message = touchTemplate.email.body; subject = touchTemplate.email.subject; }\n}\n\n// --- Prompt #5: BANT Re-Scoring at each touch ---\n// Score lead temperature alongside the message so downstream nodes can adjust cadence\nconst allText = (lead.vehicles || []).map(v => `${v.make || ''} ${v.model || ''}`).join(' ').toLowerCase();\nconst history = (lead._conversationHistory || []).map(m => (m.content || '')).join(' ').toLowerCase();\nconst combined = (allText + ' ' + history).toLowerCase();\n\nlet bant_budget = 1;\nif (/budget|afford|price range|montant|mise de fonds/i.test(combined)) bant_budget = 2;\nif (/specific.*(budget|price)|\\$\\d{3,}|money.*(isn|not).*(issue|problem)|pre-?approved/i.test(combined)) bant_budget = 3;\n\nlet bant_authority = 1;\nif (/spouse|partner|conjoint|co-?signer/i.test(combined)) bant_authority = 2;\nif (/i.?m buying|my decision|ready to (buy|purchase)/i.test(combined)) bant_authority = 3;\n\nlet bant_need = 1;\nif (/looking for|need|want|cherche|besoin|interested/i.test(combined)) bant_need = 2;\nif (/(need|want).*(specific|exact)|broke down|accident|urgent|panne/i.test(combined)) bant_need = 3;\n\nlet bant_timeline = 1;\nif (/this month|ce mois|soon|bient/i.test(combined)) bant_timeline = 2;\nif (/this week|cette semaine|today|tomorrow|asap|ready to buy/i.test(combined)) bant_timeline = 3;\n\nconst bant_total = bant_budget + bant_authority + bant_need + bant_timeline;\nlet score_label = 'COLD';\nlet recommended_action = 'MONTHLY_DRIP';\nif (bant_total >= 10) { score_label = 'HOT'; recommended_action = 'HANDOFF_TO_HUMAN'; }\nelse if (bant_total >= 7) { score_label = 'WARM'; recommended_action = 'ACCELERATED_NURTURE'; }\nelse if (bant_total >= 4) { score_label = 'COOL'; recommended_action = 'WEEKLY_NURTURE'; }\n\nconst bantScore = {\n  budget: bant_budget,\n  authority: bant_authority,\n  need: bant_need,\n  timeline: bant_timeline,\n  total: bant_total,\n  label: score_label,\n  recommended_action: recommended_action,\n  touch_number: touch\n};\n\nreturn [{ json: { ...lead, _message: message, _emailSubject: subject, _messageGenerated: !!message, _messageLength: message ? message.length : 0, bant_score: bantScore } }];"
      }
    },
    {
      "id": "compliance-check",
      "name": "Compliance Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 300],
      "parameters": {
        "jsCode": "// Compliance pre-flight: consent (CASL), opt-out, frequency cap, content validation\n\nconst lead = $input.first().json;\nconst message = lead._message || '';\nconst channel = lead._channel || 'sms';\nconst now = new Date();\n\nconst failures = [];\nlet pass = true;\n\n// 1. CASL consent check\nconst consentDate = lead.consent_date ? new Date(lead.consent_date) : (lead.created_at ? new Date(lead.created_at) : null);\nconst consentType = lead.consent_type || 'implied';\nif (consentType === 'implied' && consentDate) {\n  const sixMonthsLater = new Date(consentDate);\n  sixMonthsLater.setMonth(sixMonthsLater.getMonth() + 6);\n  if (now > sixMonthsLater) { failures.push('CASL: Implied consent expired (>6 months)'); pass = false; }\n}\n\n// 2. Opt-out check\nif (lead.unsubscribe_all_date) { failures.push('Opt-out: Lead has unsubscribed from all communications'); pass = false; }\nif (channel === 'sms' && lead.unsubscribe_sms_date) { failures.push('Opt-out: Lead has unsubscribed from SMS'); pass = false; }\nif (channel === 'email' && lead.unsubscribe_email_date) { failures.push('Opt-out: Lead has unsubscribed from email'); pass = false; }\n\n// 3. Content validation\nconst FORBIDDEN_PATTERNS = [\n  /\\$\\d+[\\s/]*(per|a|\\/)\\s*month/i, /monthly\\s*payment/i, /paiement\\s*mensuel/i,\n  /\\d+(\\.\\d+)?\\s*%\\s*(apr|interest|taux|interet)/i, /interest\\s*rate/i, /taux\\s*d'interet/i,\n  /financ(ing|ement)\\s*(term|option|rate|taux)/i, /credit\\s*score/i, /cote\\s*de\\s*credit/i,\n  /insurance\\s*(rate|cost|premium)/i, /assurance\\s*(taux|cout|prime)/i,\n  /(?:we'?ll|I'?ll|can)\\s*beat\\s*(any|the|their)/i, /guaranteed\\s*approv/i, /approbation\\s*garantie/i,\n];\nfor (const pattern of FORBIDDEN_PATTERNS) {\n  if (pattern.test(message)) { failures.push(`Content violation: ${pattern.source}`); pass = false; }\n}\n\n// 4. Message exists\nif (!message || message.trim().length === 0) { failures.push('No message generated'); pass = false; }\n\nreturn [{ json: { ...lead, _compliancePass: pass, _complianceFailures: failures, _complianceCheckedAt: now.toISOString() } }];"
      }
    },
    {
      "id": "compliance-gate",
      "name": "Compliance Pass?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2160, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "compliance-condition",
              "leftValue": "={{ $json._compliancePass }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "send-message",
      "name": "Send Message (SMS or Email)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 200],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "// Send via configured providers — SMS: Twilio or GHL, Email: SendGrid\nconst msgProvider = $env.MESSAGING_PROVIDER || 'twilio';\nconst lead = $input.first().json;\nconst channel = lead._channel;\nconst message = lead._message;\nconst subject = lead._emailSubject;\n\nlet sendResult = { success: false, channel, provider: msgProvider, error: null, messageId: null };\n\ntry {\n  if (channel === 'sms') {\n    const phones = lead.phones || [];\n    const recipientPhone = phones[0]?.number || phones[0]?.phone || lead.phone || lead.mobile_phone || '';\n    if (!recipientPhone) throw new Error('No phone number available for SMS');\n\n    if (msgProvider === 'ghl') {\n      // GHL Conversations API\n      const GHL_API_KEY = $env.GHL_API_KEY || '';\n      const contactId = lead.id;\n      if (!contactId) throw new Error('No GHL contact ID for messaging');\n      const response = await fetch('https://services.leadconnectorhq.com/conversations/messages', {\n        method: 'POST',\n        headers: { 'Authorization': `Bearer ${GHL_API_KEY}`, 'Version': '2021-07-28', 'Content-Type': 'application/json' },\n        body: JSON.stringify({ type: 'SMS', contactId: contactId, message: message }),\n      });\n      const result = await response.json();\n      if (response.ok) sendResult = { success: true, channel: 'sms', provider: 'ghl', messageId: result.messageId || result.id || 'sent', error: null };\n      else throw new Error(result.message || `GHL error: ${response.status}`);\n    } else {\n      // Default: Twilio\n      const TWILIO_ACCOUNT_SID = $env.TWILIO_ACCOUNT_SID || '';\n      const TWILIO_AUTH_TOKEN = $env.TWILIO_AUTH_TOKEN || '';\n      const TWILIO_FROM_NUMBER = $env.TWILIO_FROM_NUMBER || '';\n      const twilioUrl = `https://api.twilio.com/2010-04-01/Accounts/${TWILIO_ACCOUNT_SID}/Messages.json`;\n      const body = new URLSearchParams({ To: recipientPhone, From: TWILIO_FROM_NUMBER, Body: message });\n      const response = await fetch(twilioUrl, {\n        method: 'POST',\n        headers: { 'Authorization': 'Basic ' + btoa(`${TWILIO_ACCOUNT_SID}:${TWILIO_AUTH_TOKEN}`), 'Content-Type': 'application/x-www-form-urlencoded' },\n        body: body.toString(),\n      });\n      const result = await response.json();\n      if (response.ok) sendResult = { success: true, channel: 'sms', provider: 'twilio', messageId: result.sid, error: null };\n      else throw new Error(result.message || `Twilio error: ${response.status}`);\n    }\n  } else if (channel === 'email') {\n    const emails = lead.emails || [];\n    const recipientEmail = emails[0]?.address || emails[0]?.email || lead.email || '';\n    if (!recipientEmail) throw new Error('No email address available');\n    const SENDGRID_API_KEY = $env.SENDGRID_API_KEY || '';\n    const FROM_EMAIL = $env.FROM_EMAIL || 'noreply@dealership.com';\n    const FROM_NAME = $env.DEALERSHIP_NAME || 'Dealership';\n    const emailPayload = {\n      personalizations: [{ to: [{ email: recipientEmail }] }],\n      from: { email: FROM_EMAIL, name: FROM_NAME },\n      subject: subject || `Update from ${FROM_NAME}`,\n      content: [{ type: 'text/plain', value: message }],\n    };\n    const response = await fetch('https://api.sendgrid.com/v3/mail/send', {\n      method: 'POST',\n      headers: { 'Authorization': `Bearer ${SENDGRID_API_KEY}`, 'Content-Type': 'application/json' },\n      body: JSON.stringify(emailPayload),\n    });\n    if (response.ok || response.status === 202) sendResult = { success: true, channel: 'email', provider: 'sendgrid', messageId: response.headers.get('x-message-id') || 'sent', error: null };\n    else { const errText = await response.text(); throw new Error(`SendGrid error: ${response.status} ${errText}`); }\n  }\n} catch (err) {\n  sendResult = { success: false, channel, provider: msgProvider, error: err.message, messageId: null };\n}\n\nreturn [{ json: { ...lead, _sendResult: sendResult } }];"
      }
    },
    {
      "id": "update-crm",
      "name": "Update CRM Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, 200],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "// Update CRM lead after outreach — supports Activix and GHL\nconst provider = $env.CRM_PROVIDER || 'activix';\n\nfunction getCrmConfig() {\n  if (provider === 'ghl') {\n    return {\n      baseUrl: 'https://services.leadconnectorhq.com',\n      headers: { 'Authorization': `Bearer ${$env.GHL_API_KEY}`, 'Version': '2021-07-28', 'Content-Type': 'application/json' },\n    };\n  }\n  return {\n    baseUrl: $env.ACTIVIX_API_URL || 'https://api.crm.activix.ca/v2',\n    headers: { 'Authorization': `Bearer ${$env.ACTIVIX_API_TOKEN}`, 'Content-Type': 'application/json', 'Accept': 'application/json' },\n  };\n}\n\nconst config = getCrmConfig();\nconst lead = $input.first().json;\nconst touch = lead._touchNumber;\nconst channel = lead._channel;\nconst sendResult = lead._sendResult || {};\nconst now = new Date().toISOString();\n\nconst commentText = `[Nexus Auto] Touch ${touch} sent via ${channel} at ${now}. ${sendResult.success ? 'Delivered' : 'Failed: ' + (sendResult.error || 'unknown')}. MessageID: ${sendResult.messageId || 'N/A'}`;\nconst rating = touch <= 3 ? 3 : (touch <= 5 ? 2 : 1);\n\nlet updateResult = { success: false, error: null };\ntry {\n  if (provider === 'ghl') {\n    // Update GHL contact with tags and notes\n    const response = await fetch(`${config.baseUrl}/contacts/${lead.id}`, {\n      method: 'PUT',\n      headers: config.headers,\n      body: JSON.stringify({\n        tags: [...(lead._raw?.tags || []), `nexus-touch-${touch}`, `touch-${channel}`],\n        customFields: [\n          { key: 'last_nexus_touch', value: String(touch) },\n          { key: 'last_nexus_channel', value: channel },\n          { key: 'last_nexus_date', value: now },\n          { key: 'nexus_send_status', value: sendResult.success ? 'delivered' : 'failed' },\n        ],\n      }),\n    });\n    if (response.ok) updateResult = { success: true, error: null };\n    else { const errText = await response.text(); throw new Error(`GHL update error: ${response.status} ${errText}`); }\n\n    // Also add a note via GHL contacts notes API\n    try {\n      await fetch(`${config.baseUrl}/contacts/${lead.id}/notes`, {\n        method: 'POST',\n        headers: config.headers,\n        body: JSON.stringify({ body: commentText }),\n      });\n    } catch (noteErr) { /* non-critical */ }\n  } else {\n    // Default: Activix PUT /v2/leads/:id\n    const updatePayload = { result: 'attempted', rating, comment: commentText };\n    const response = await fetch(`${config.baseUrl}/leads/${lead.id}`, {\n      method: 'PUT',\n      headers: config.headers,\n      body: JSON.stringify(updatePayload),\n    });\n    if (response.ok) updateResult = { success: true, error: null };\n    else { const errText = await response.text(); throw new Error(`Activix update error: ${response.status} ${errText}`); }\n  }\n} catch (err) {\n  updateResult = { success: false, error: err.message };\n}\n\nreturn [{ json: { leadId: lead.id, firstName: lead.first_name, touchNumber: touch, channel, locale: lead._locale, sendResult, crmUpdate: updateResult, processedAt: now } }];"
      }
    },
    {
      "id": "log-failure",
      "name": "Log Compliance Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 440],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "// Log compliance failure and continue to next lead\nconst lead = $input.first().json;\nconst now = new Date().toISOString();\n\nconst logEntry = {\n  leadId: lead.id,\n  firstName: lead.first_name || 'unknown',\n  touchNumber: lead._touchNumber,\n  channel: lead._channel,\n  locale: lead._locale,\n  complianceFailures: lead._complianceFailures || [],\n  skippedAt: now,\n  reason: 'Compliance check failed -- message not sent',\n};\n\nconsole.log('[Compliance Fail]', JSON.stringify(logEntry));\n\nreturn [{ json: logEntry }];"
      }
    },
    {
      "id": "loop-done",
      "name": "Batch Complete",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2880, 300],
      "parameters": {}
    }
  ],
  "connections": {
    "Daily 9AM Trigger": {
      "main": [[{"node": "Fetch Leads from CRM", "type": "main", "index": 0}]]
    },
    "Fetch Leads from CRM": {
      "main": [[{"node": "Filter Eligible Leads", "type": "main", "index": 0}]]
    },
    "Filter Eligible Leads": {
      "main": [[{"node": "Determine Touch Number", "type": "main", "index": 0}]]
    },
    "Determine Touch Number": {
      "main": [[{"node": "Process Each Lead", "type": "main", "index": 0}]]
    },
    "Process Each Lead": {
      "main": [
        [{"node": "Detect Language", "type": "main", "index": 0}],
        [{"node": "Batch Complete", "type": "main", "index": 0}]
      ]
    },
    "Detect Language": {
      "main": [[{"node": "Inventory Match", "type": "main", "index": 0}]]
    },
    "Inventory Match": {
      "main": [[{"node": "Generate Touch Message", "type": "main", "index": 0}]]
    },
    "Generate Touch Message": {
      "main": [[{"node": "Compliance Check", "type": "main", "index": 0}]]
    },
    "Compliance Check": {
      "main": [[{"node": "Compliance Pass?", "type": "main", "index": 0}]]
    },
    "Compliance Pass?": {
      "main": [
        [{"node": "Send Message (SMS or Email)", "type": "main", "index": 0}],
        [{"node": "Log Compliance Failure", "type": "main", "index": 0}]
      ]
    },
    "Send Message (SMS or Email)": {
      "main": [[{"node": "Update CRM Lead", "type": "main", "index": 0}]]
    },
    "Update CRM Lead": {
      "main": [[{"node": "Process Each Lead", "type": "main", "index": 0}]]
    },
    "Log Compliance Failure": {
      "main": [[{"node": "Process Each Lead", "type": "main", "index": 0}]]
    }
  }
}
