workflows/instant-lead-response.json
{
  "name": "Instant Lead Response — CRM Webhook",
  "description": "n8n Workflow 1: Receives CRM webhook on new lead creation (supports Activix and GHL via CRM_PROVIDER env var), verifies signature, parses lead data into normalized format, detects language (en-CA/fr-CA), queries inventory, generates personalized AI response, runs CASL compliance check, then sends SMS via configured messaging provider (Twilio or GHL) + email via SendGrid, updates CRM lead status, and notifies the assigned rep via Slack. Compliance failures are logged and alerted without sending any message.",
  "n8n_workflow_id": "vWdc92Ew7olgKFhA",
  "n8n_instance": "https://nexusagents.app.n8n.cloud",
  "webhook_path": "/webhook/crm-lead-webhook",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Toronto",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true
  },
  "nodes": [
    {
      "id": "node-webhook",
      "name": "CRM Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 300],
      "parameters": {
        "path": "crm-lead-webhook",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": { "rawBody": true }
      },
      "purpose": "Receives POST from CRM when a new lead is created. Activix types: email, phone, web_order, sms. GHL: via workflow trigger or webhook."
    },
    {
      "id": "node-verify",
      "name": "Webhook Verification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "jsCode": "// Webhook signature verification — adapts to CRM provider\nconst provider = $env.CRM_PROVIDER || 'activix';\nconst input = $input.first().json;\nconst rawBody = $input.first().json.body ? JSON.stringify($input.first().json.body) : '';\n\nif (provider === 'ghl') {\n  // GHL uses a simple API key check or OAuth — no HMAC\n  // Verify the request comes from GHL by checking known fields\n  const body = input.body || input;\n  if (!body.contactId && !body.contact_id && !body.id) {\n    throw new Error('Invalid GHL webhook payload: no contact identifier found');\n  }\n  return [{ json: { ...input, _verified: true, _provider: 'ghl' } }];\n}\n\n// Default: Activix HMAC-SHA256 signature check\nconst crypto = require('crypto');\nconst secret = $env.ACTIVIX_WEBHOOK_SECRET || '';\nconst signature = input.headers?.['x-activix-webhook-signature'] || '';\nconst expected = crypto.createHmac('sha256', secret).update(rawBody).digest('hex');\n\nif (!signature || signature !== expected) {\n  throw new Error('HMAC signature verification failed — returning 401');\n}\n\nreturn [{ json: { ...input, _verified: true, _provider: 'activix' } }];"
      },
      "purpose": "Signature/auth verification. Activix: HMAC-SHA256 via X-Activix-Webhook-Signature. GHL: payload structure validation."
    },
    {
      "id": "node-parse",
      "name": "Parse Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "jsCode": "// Parse lead data from any CRM into normalized format\nconst provider = $env.CRM_PROVIDER || 'activix';\nconst input = $input.first().json;\nconst body = input.body || input;\n\n// Normalized lead format\nlet lead = {\n  id: null,\n  firstName: null,\n  lastName: null,\n  email: null,\n  phone: null,\n  phones: [],\n  emails: [],\n  locale: null,\n  source: null,\n  type: null,\n  postalCode: null,\n  vehicles: [],\n  advisor: null,\n  consentType: 'implied',\n  consentDate: null,\n  unsubscribeAll: false,\n  unsubscribeSms: false,\n  unsubscribeEmail: false,\n  _provider: provider,\n  _raw: body,\n};\n\nif (provider === 'ghl') {\n  const contact = body.contact || body;\n  lead.id = contact.id || contact.contactId || null;\n  lead.firstName = contact.firstName || contact.first_name || contact.name?.split(' ')[0] || null;\n  lead.lastName = contact.lastName || contact.last_name || contact.name?.split(' ').slice(1).join(' ') || null;\n  lead.email = contact.email || null;\n  lead.phone = contact.phone || null;\n  lead.phones = contact.phone ? [{ number: contact.phone, type: 'mobile' }] : [];\n  lead.emails = contact.email ? [{ address: contact.email, type: 'primary' }] : [];\n  lead.locale = contact.tags?.includes('french') ? 'fr-CA' : null;\n  lead.source = contact.source || contact.attributionSource?.medium || 'web';\n  lead.type = contact.type || 'web';\n  lead.postalCode = contact.postalCode || contact.address?.postalCode || null;\n  // GHL custom fields for vehicle interest\n  const customFields = contact.customFields || contact.customField || [];\n  if (Array.isArray(customFields)) {\n    for (const cf of customFields) {\n      const key = (cf.key || cf.id || '').toLowerCase();\n      if (key.includes('vehicle') || key.includes('make') || key.includes('model')) {\n        lead.vehicles.push({ make: cf.value, type: 'wanted' });\n      }\n    }\n  }\n  lead.advisor = contact.assignedTo ? { name: contact.assignedTo } : null;\n  lead.consentDate = contact.dateAdded || new Date().toISOString();\n  lead.unsubscribeAll = contact.dnd || false;\n  lead.unsubscribeSms = contact.dndSettings?.SMS?.status === 'active' || false;\n  lead.unsubscribeEmail = contact.dndSettings?.Email?.status === 'active' || false;\n} else {\n  // Default: Activix\n  lead.id = body.id || null;\n  lead.firstName = body.first_name || null;\n  lead.lastName = body.last_name || null;\n  const emailArr = body.emails || [];\n  lead.email = emailArr[0]?.address || emailArr[0]?.email || body.email || null;\n  const phoneArr = body.phones || [];\n  lead.phone = phoneArr[0]?.number || phoneArr[0]?.phone || body.phone || null;\n  lead.phones = phoneArr;\n  lead.emails = emailArr;\n  lead.locale = body.locale || null;\n  lead.source = body.source || null;\n  lead.type = body.type || null;\n  lead.postalCode = body.postal_code || body.address?.postal_code || null;\n  lead.vehicles = body.vehicles || [];\n  lead.advisor = body.advisor ? { name: `${body.advisor.first_name || ''} ${body.advisor.last_name || ''}`.trim(), id: body.advisor.id } : null;\n  lead.consentType = body.consent_type || 'implied';\n  lead.consentDate = body.consent_date || body.created_at || null;\n  lead.unsubscribeAll = !!body.unsubscribe_all_date;\n  lead.unsubscribeSms = !!body.unsubscribe_sms_date;\n  lead.unsubscribeEmail = !!body.unsubscribe_email_date;\n}\n\nreturn [{ json: lead }];"
      },
      "purpose": "Normalizes lead data from Activix or GHL into a common format: firstName, lastName, phone, email, vehicles, locale, consent fields."
    },
    {
      "id": "node-language",
      "name": "Language Detection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300],
      "parameters": {
        "jsCode": "// Detects en-CA or fr-CA from normalized lead data\n// Priority: 1) locale field, 2) Quebec area codes, 3) Quebec postal code prefixes, 4) default en-CA\n\nconst lead = $input.first().json;\nconst QUEBEC_AREA_CODES = ['418', '438', '450', '514', '579', '581', '819', '873'];\nconst QUEBEC_POSTAL_PREFIXES = ['G', 'H', 'J'];\n\nfunction detectLanguage(lead) {\n  if (lead.locale) {\n    const locale = lead.locale.toLowerCase();\n    if (locale.startsWith('fr')) return 'fr-CA';\n    if (locale.startsWith('en')) return 'en-CA';\n  }\n  // Check phones array\n  const phones = lead.phones || [];\n  for (const phone of phones) {\n    const number = (phone.number || phone.phone || '').replace(/[^0-9]/g, '');\n    let areaCode = '';\n    if (number.length === 11 && number.startsWith('1')) areaCode = number.substring(1, 4);\n    else if (number.length === 10) areaCode = number.substring(0, 3);\n    if (QUEBEC_AREA_CODES.includes(areaCode)) return 'fr-CA';\n  }\n  // Check single phone field\n  if (lead.phone) {\n    const number = lead.phone.replace(/[^0-9]/g, '');\n    let areaCode = '';\n    if (number.length === 11 && number.startsWith('1')) areaCode = number.substring(1, 4);\n    else if (number.length === 10) areaCode = number.substring(0, 3);\n    if (QUEBEC_AREA_CODES.includes(areaCode)) return 'fr-CA';\n  }\n  const postalCode = lead.postalCode || '';\n  if (postalCode && QUEBEC_POSTAL_PREFIXES.includes(postalCode.charAt(0).toUpperCase())) return 'fr-CA';\n  return 'en-CA';\n}\n\nreturn [{ json: { ...lead, _locale: detectLanguage(lead) } }];"
      },
      "purpose": "Detects en-CA or fr-CA. Priority: 1) locale field, 2) Quebec area codes (418, 438, 450, 514, 579, 581, 819, 873), 3) Quebec postal code prefixes (G, H, J), 4) default en-CA."
    },
    {
      "id": "node-inventory",
      "name": "Inventory Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300],
      "purpose": "Placeholder with sample inventory data. Matches lead vehicle interest to available stock, returns top 3 matches. TODO: Replace with HTTP Request to InventoryService API or Supabase."
    },
    {
      "id": "node-ai-response",
      "name": "Generate AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300],
      "parameters": {
        "jsCode": "// Prompt #1: Dealership AI BDC Sales Agent — Full system prompt\n// Generates personalized first response using the complete BDC agent prompt\n// with qualification checklist, appointment booking, objection handling, BANT scoring,\n// bilingual protocol, and safety rails.\n\nconst lead = $input.first().json;\nconst locale = lead._locale || 'en-CA';\nconst isFrench = locale.startsWith('fr');\nconst firstName = lead.firstName || lead.first_name || (isFrench ? 'vous' : 'there');\nconst repName = lead.advisor?.name || $env.DEFAULT_REP_NAME || 'our team';\nconst dealershipName = $env.DEALERSHIP_NAME || 'Our Dealership';\nconst address = $env.DEALERSHIP_ADDRESS || '';\nconst phone = $env.DEALERSHIP_PHONE || '';\nconst hours = $env.BUSINESS_HOURS || 'Mon-Sat 9AM-6PM';\nconst promotions = $env.ACTIVE_PROMOTIONS || 'Ask about our current specials';\nconst vehicleMatches = lead._vehicleMatches || [];\nconst inventoryContext = vehicleMatches.length > 0\n  ? vehicleMatches.map((v, i) => `${i+1}. ${v.year || ''} ${v.make || ''} ${v.model || ''} ${v.trim || ''} in ${v.color || 'various colors'} — ${(v.features || []).slice(0,3).join(', ') || 'standard features'}`).join('\\n')\n  : 'No specific vehicle matches yet. Provide a helpful, generic response inviting them to explore our selection.';\n\nconst systemPrompt = isFrench ? `Vous etes l'assistant IA de vente de ${dealershipName}. Vous travaillez au Centre de Developpement des Affaires (BDC). Votre mission unique est de prendre des rendez-vous qualifies qui se presentent.\n\n<personnalite>\nVous etes un conseiller automobile amical et competent. Vous parlez comme un humain serviable, jamais comme un robot. Vous etes enthousiaste mais jamais insistant.\n</personnalite>\n\nNous sommes situes au ${address}. Notre numero est ${phone}. Nos heures sont ${hours}.\n\n## Protocole bilingue\n<language_protocol>\n1. DETECTEZ la langue du client.\n2. REPONDEZ dans la meme langue.\n3. Si le client change de langue, suivez immediatement.\n4. NE melangez JAMAIS les langues dans une seule reponse.\n</language_protocol>\n\n<french_guidelines>\n- Utilisez le francais quebecois, pas le francais europeen\n- Utilisez \"vous\" par defaut sauf si le client utilise \"tu\" en premier\n- Termes: essai routier, echange/reprise, mise de fonds, paiement mensuel, location, financement, concessionnaire\n</french_guidelines>\n\n## Client\nPrenom: \"${firstName}\"\nSource: ${lead.source || 'web'}\n\n## Liste de qualification\n<liste_qualification>\n- [ ] Interet vehicule identifie (neuf/usage, marque, modele ou type)\n- [ ] Echeancier etabli (achat cette semaine / ce mois / juste regarder)\n- [ ] Coordonnees capturees (minimum: nom + telephone OU courriel)\n- [ ] Statut echange connu (oui/non)\n</liste_qualification>\n\n## Protocole de prise de rendez-vous\n1. Proposez deux horaires dans les 48 prochaines heures\n2. Confirmez les details dans un message resume\n3. Demandez: \"Y a-t-il quelqu'un d'autre qui participera a la decision?\"\n4. \"A votre arrivee, demandez ${repName}.\"\n\n## Gestion des objections\n- \"Je regarde juste\" -> \"Je comprends! Qu'est-ce qui a attire votre attention?\"\n- \"Pouvez-vous me donner un prix?\" -> \"Absolument — laissez-moi organiser 15 minutes avec ${repName} pour les meilleurs chiffres.\"\n- \"C'est un robot?\" -> \"Bonne question! Je suis un assistant IA pour ${dealershipName}, mais je travaille avec notre equipe de vente.\"\n\n## Inventaire\n${inventoryContext}\n\n## Regles de securite — STRICTEMENT INTERDIT\n- Prix, paiements mensuels, taux d'interet, TAC\n- Approbation garantie\n- Noms de preteurs internes\n- Concurrents par nom\n- Tactiques de vente sous pression\n\n## Pointage BANT\n<thinking>\nBUDGET: Note 1-3\nAUTORITE: Note 1-3\nBESOIN: Note 1-3\nECHEANCIER: Note 1-3\nTOTAL: Somme (max 12)\nETIQUETTE: CHAUD (10-12) | TIEDE (7-9) | FRAIS (4-6) | FROID (1-3)\n</thinking>`\n\n: `You are ${dealershipName}'s AI Sales Assistant. You work in the Business Development Center (BDC). Your single mission is to book qualified appointments that show.\n\n<personality>\nYou are a friendly, knowledgeable automotive sales consultant. You speak like a helpful human, never like a robot. You are enthusiastic but never pushy. You mirror the customer's communication style and energy.\n</personality>\n\nYou are located at ${address}. Our phone number is ${phone}. Our hours are ${hours}.\n\n## Bilingual Protocol\n<language_protocol>\n1. DETECT the customer's language from their first message.\n2. RESPOND in the same language they used.\n3. If the customer switches languages, follow their switch immediately.\n4. NEVER mix languages in a single response.\n</language_protocol>\n\n<french_guidelines>\n- Use Quebec French conventions, not European French\n- Use \\\"vous\\\" (formal) by default\n- Terms: essai routier, echange/reprise, mise de fonds, paiement mensuel, location, financement\n</french_guidelines>\n\n## Customer\nFirst name: \"${firstName}\"\nSource: ${lead.source || 'web'}\n\n## Qualification Checklist\n<qualification_checklist>\n- [ ] Vehicle interest identified (new/used, make, model, or type)\n- [ ] Timeline established (buying this week / this month / just looking)\n- [ ] Contact info captured (minimum: name + phone OR email)\n- [ ] Trade-in status known\nScore: HOT (buying this week + specific vehicle) | WARM (this month + general interest) | COLD (just looking)\n</qualification_checklist>\n\n## Appointment Booking Protocol\n1. Propose two specific times within the next 48 hours: \\\"Would tomorrow at 2 PM or Saturday at 11 AM work better?\\\"\n2. Confirm all appointment details in a summary message\n3. Ask: \\\"Is there anyone else who will be part of the decision? Bring them along!\\\"\n4. Set expectation: \\\"When you arrive, ask for ${repName}. They'll have everything ready for you.\\\"\n\n## Objection Handling\n<objection_handling>\n- \\\"I'm just looking\\\" -> \\\"Totally understand! Most of our happiest customers started the same way. What caught your eye?\\\"\n- \\\"Can you give me a price?\\\" -> \\\"Absolutely — I want to make sure you get our best deal. Let me set up 15 minutes with ${repName} so they can put together the right numbers for you.\\\"\n- \\\"I'm working with another dealer\\\" -> \\\"Smart to shop around! We'd love the chance to earn your business.\\\"\n- \\\"Is this a real person?\\\" -> \\\"Great question! I'm an AI assistant for ${dealershipName}, but I work with our real sales team.\\\"\n</objection_handling>\n\n## Inventory (based on our current listings)\n${inventoryContext}\n\n## Current Promotions\n${promotions}\n\n## Safety Rails — STRICTLY FORBIDDEN\n- Pricing, monthly payments, interest rates, APR\n- Guaranteed approval language\n- Internal lender names or criteria\n- Competitor dealerships by name\n- High-pressure tactics or artificial urgency\n- Trade-in valuations\n\nIf asked about these: \\\"Great question! ${repName} specializes in that — let me connect you.\\\"\nNEVER negotiate over text/chat/email. Always redirect to in-person visit.\nIf customer stops responding after 2 messages, send ONE final \\\"door open\\\" message, then stop.\n\n## BANT Scoring — Internal Output\n<thinking>\nBUDGET: Rate 1-3 (HIGH/MEDIUM/LOW)\nAUTHORITY: Rate 1-3\nNEED: Rate 1-3\nTIMELINE: Rate 1-3\nTOTAL: Sum (max 12)\nSCORE LABEL: HOT (10-12) | WARM (7-9) | COOL (4-6) | COLD (1-3)\nNEXT ACTION: HANDOFF_TO_HUMAN | BOOK_APPOINTMENT | ADD_TO_NURTURE | ADD_TO_DRIP\n</thinking>`;\n\n// Build the user message from lead data\nconst vehicleInterest = (lead.vehicles || []).map(v => `${v.year || ''} ${v.make || ''} ${v.model || ''}`.trim()).filter(Boolean).join(', ') || 'not specified';\nconst userMessage = isFrench\n  ? `Nouveau lead: ${firstName}. Interet vehicule: ${vehicleInterest}. Source: ${lead.source || 'web'}. Generez le premier message SMS/email personnalise.`\n  : `New lead: ${firstName}. Vehicle interest: ${vehicleInterest}. Source: ${lead.source || 'web'}. Generate the personalized first-touch SMS/email message.`;\n\n// TODO: Replace with actual Nexus AI Agent HTTP call to Anthropic API\n// For now, generate a template-based response with the full prompt context available\nconst topVehicle = vehicleMatches[0];\nlet message = '';\nif (isFrench) {\n  message = topVehicle\n    ? `Bonjour ${firstName}! Merci pour votre interet. Selon nos annonces actuelles, nous avons un ${topVehicle.year} ${topVehicle.make} ${topVehicle.model} en ${topVehicle.color || 'inventaire'} qui pourrait vous plaire. Aimeriez-vous le voir demain a 14h ou samedi a 11h? - ${repName}, ${dealershipName} ${phone}`\n    : `Bonjour ${firstName}! Merci pour votre interet chez ${dealershipName}. J'aimerais en savoir plus sur ce que vous cherchez pour vous aider a trouver le vehicule parfait. Quand seriez-vous disponible pour passer nous voir? - ${repName} ${phone}`;\n} else {\n  message = topVehicle\n    ? `Hi ${firstName}! Thanks for your interest. Based on our current listings, we have a ${topVehicle.year} ${topVehicle.make} ${topVehicle.model} in ${topVehicle.color || 'stock'} that might be perfect for you. Would tomorrow at 2 PM or Saturday at 11 AM work for a quick look? - ${repName}, ${dealershipName} ${phone}`\n    : `Hi ${firstName}! Thanks for reaching out to ${dealershipName}. I'd love to learn more about what you're looking for so I can help find the perfect vehicle. When would be a good time to stop by? - ${repName} ${phone}`;\n}\n\nreturn [{ json: { ...lead, _message: message, _systemPrompt: systemPrompt, _userMessage: userMessage, _locale: locale } }];"
      },
      "purpose": "Prompt #1: Full Dealership AI BDC Sales Agent system prompt with qualification checklist, appointment booking protocol, objection handling, BANT scoring, bilingual protocol, and safety rails. Populated from lead data and $env vars."
    },
    {
      "id": "node-compliance",
      "name": "Compliance Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 300],
      "parameters": {
        "jsCode": "// CASL compliance pre-flight using normalized lead fields\nconst lead = $input.first().json;\nconst message = lead._message || '';\nconst now = new Date();\nconst failures = [];\nlet pass = true;\n\n// 1. CASL consent check\nconst consentDate = lead.consentDate ? new Date(lead.consentDate) : null;\nconst consentType = lead.consentType || 'implied';\nif (consentType === 'implied' && consentDate) {\n  const sixMonthsLater = new Date(consentDate);\n  sixMonthsLater.setMonth(sixMonthsLater.getMonth() + 6);\n  if (now > sixMonthsLater) { failures.push('CASL: Implied consent expired (>6 months)'); pass = false; }\n}\n\n// 2. Opt-out check\nif (lead.unsubscribeAll) { failures.push('Opt-out: Lead has unsubscribed from all communications'); pass = false; }\nif (lead.unsubscribeSms) { failures.push('Opt-out: Lead has unsubscribed from SMS'); pass = false; }\nif (lead.unsubscribeEmail) { failures.push('Opt-out: Lead has unsubscribed from email'); pass = false; }\n\n// 3. Content validation — forbidden financial language\nconst FORBIDDEN_PATTERNS = [\n  /\\$\\d+[\\s/]*(per|a|\\/)\\s*month/i, /monthly\\s*payment/i, /paiement\\s*mensuel/i,\n  /\\d+(\\.\\d+)?\\s*%\\s*(apr|interest|taux|interet)/i, /interest\\s*rate/i, /taux\\s*d'interet/i,\n  /financ(ing|ement)\\s*(term|option|rate|taux)/i, /credit\\s*score/i, /cote\\s*de\\s*credit/i,\n  /insurance\\s*(rate|cost|premium)/i, /assurance\\s*(taux|cout|prime)/i,\n  /(?:we'?ll|I'?ll|can)\\s*beat\\s*(any|the|their)/i, /guaranteed\\s*approv/i, /approbation\\s*garantie/i,\n];\nfor (const pattern of FORBIDDEN_PATTERNS) {\n  if (pattern.test(message)) { failures.push(`Content violation: ${pattern.source}`); pass = false; }\n}\n\n// 4. Message exists\nif (!message || message.trim().length === 0) { failures.push('No message generated'); pass = false; }\n\nreturn [{ json: { ...lead, _compliancePass: pass, _complianceFailures: failures, _complianceCheckedAt: now.toISOString() } }];"
      },
      "purpose": "CASL compliance pre-flight: verifies consent exists, checks implied consent not expired (6-month window), checks opt-out fields, validates content has no forbidden financial language."
    },
    {
      "id": "node-if-compliance",
      "name": "Compliance Pass?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1680, 300],
      "purpose": "Routes based on compliance.pass boolean. True output -> send messages. False output -> log failure."
    },
    {
      "id": "node-send-message",
      "name": "Send SMS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1960, 160],
      "parameters": {
        "jsCode": "// Send SMS via configured messaging provider (Twilio or GHL)\nconst msgProvider = $env.MESSAGING_PROVIDER || 'twilio';\nconst lead = $input.first().json;\nconst locale = (lead.locale || 'en-CA').startsWith('fr') ? 'fr-CA' : 'en-CA';\nconst dealershipName = $env.DEALERSHIP_NAME || 'Our Dealership';\nconst dealershipPhone = $env.DEALERSHIP_PHONE || $env.TWILIO_FROM_NUMBER || '';\nconst optOutText = locale === 'fr-CA'\n  ? `Répondez STOP pour vous désabonner. ${dealershipName} | ${dealershipPhone}`\n  : `Reply STOP to unsubscribe. ${dealershipName} | ${dealershipPhone}`;\nconst message = (lead._message || '') + (lead._message ? '\\n\\n' + optOutText : '');\nconst recipientPhone = lead.phone || '';\n\nlet sendResult = { success: false, provider: msgProvider, error: null, messageId: null };\n\ntry {\n  if (!recipientPhone) throw new Error('No phone number available for SMS');\n  if (!message) throw new Error('No message to send');\n\n  if (msgProvider === 'ghl') {\n    // GHL Conversations API\n    const GHL_API_KEY = $env.GHL_API_KEY || '';\n    const GHL_LOCATION_ID = $env.GHL_LOCATION_ID || '';\n    const contactId = lead.id;\n    if (!contactId) throw new Error('No GHL contact ID for messaging');\n\n    const response = await fetch('https://services.leadconnectorhq.com/conversations/messages', {\n      method: 'POST',\n      headers: {\n        'Authorization': `Bearer ${GHL_API_KEY}`,\n        'Version': '2021-07-28',\n        'Content-Type': 'application/json',\n      },\n      body: JSON.stringify({\n        type: 'SMS',\n        contactId: contactId,\n        message: message,\n      }),\n    });\n    const result = await response.json();\n    if (response.ok) {\n      sendResult = { success: true, provider: 'ghl', messageId: result.messageId || result.id || 'sent', error: null };\n    } else {\n      throw new Error(result.message || `GHL error: ${response.status}`);\n    }\n  } else {\n    // Default: Twilio\n    const TWILIO_ACCOUNT_SID = $env.TWILIO_ACCOUNT_SID || '';\n    const TWILIO_AUTH_TOKEN = $env.TWILIO_AUTH_TOKEN || '';\n    const TWILIO_FROM_NUMBER = $env.TWILIO_FROM_NUMBER || '';\n    const twilioUrl = `https://api.twilio.com/2010-04-01/Accounts/${TWILIO_ACCOUNT_SID}/Messages.json`;\n    const body = new URLSearchParams({ To: recipientPhone, From: TWILIO_FROM_NUMBER, Body: message });\n    const response = await fetch(twilioUrl, {\n      method: 'POST',\n      headers: { 'Authorization': 'Basic ' + btoa(`${TWILIO_ACCOUNT_SID}:${TWILIO_AUTH_TOKEN}`), 'Content-Type': 'application/x-www-form-urlencoded' },\n      body: body.toString(),\n    });\n    const result = await response.json();\n    if (response.ok) {\n      sendResult = { success: true, provider: 'twilio', messageId: result.sid, error: null };\n    } else {\n      throw new Error(result.message || `Twilio error: ${response.status}`);\n    }\n  }\n} catch (err) {\n  sendResult = { success: false, provider: msgProvider, error: err.message, messageId: null };\n}\n\nreturn [{ json: { ...lead, _smsResult: sendResult } }];"
      },
      "purpose": "Sends SMS via Twilio or GHL Conversations API based on MESSAGING_PROVIDER env var."
    },
    {
      "id": "node-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1960, 340],
      "purpose": "Sends email via SendGrid API v3. Secondary outbound channel. Configure HTTP Header Auth with Bearer token.",
      "credentials_needed": "SendGrid API Key (HTTP Header Auth: Authorization: Bearer sg_xxx)"
    },
    {
      "id": "node-crm-update",
      "name": "Update CRM Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1960, 520],
      "parameters": {
        "jsCode": "// Update CRM lead status after outreach — supports Activix and GHL\nconst provider = $env.CRM_PROVIDER || 'activix';\nconst lead = $input.first().json;\n\nfunction getCrmConfig() {\n  if (provider === 'ghl') {\n    return {\n      baseUrl: 'https://services.leadconnectorhq.com',\n      headers: { 'Authorization': `Bearer ${$env.GHL_API_KEY}`, 'Version': '2021-07-28', 'Content-Type': 'application/json' },\n    };\n  }\n  return {\n    baseUrl: $env.ACTIVIX_API_URL || 'https://api.crm.activix.ca/v2',\n    headers: { 'Authorization': `Bearer ${$env.ACTIVIX_API_TOKEN}`, 'Content-Type': 'application/json', 'Accept': 'application/json' },\n  };\n}\n\nconst config = getCrmConfig();\nlet updateResult = { success: false, error: null };\n\ntry {\n  if (provider === 'ghl') {\n    // Update GHL contact\n    const response = await fetch(`${config.baseUrl}/contacts/${lead.id}`, {\n      method: 'PUT',\n      headers: config.headers,\n      body: JSON.stringify({\n        tags: [...(lead._raw?.tags || []), 'nexus-contacted', 'auto-response-sent'],\n        customFields: [{ key: 'last_nexus_action', value: 'instant_response' }, { key: 'last_contact_date', value: new Date().toISOString() }],\n      }),\n    });\n    if (response.ok) updateResult = { success: true, error: null };\n    else { const errText = await response.text(); throw new Error(`GHL update error: ${response.status} ${errText}`); }\n  } else {\n    // Default: Activix PUT /v2/leads/:id\n    const response = await fetch(`${config.baseUrl}/leads/${lead.id}`, {\n      method: 'PUT',\n      headers: config.headers,\n      body: JSON.stringify({ result: 'attempted' }),\n    });\n    if (response.ok) updateResult = { success: true, error: null };\n    else { const errText = await response.text(); throw new Error(`Activix update error: ${response.status} ${errText}`); }\n  }\n} catch (err) {\n  updateResult = { success: false, error: err.message };\n}\n\nreturn [{ json: { ...lead, _crmUpdateResult: updateResult } }];"
      },
      "purpose": "Updates lead status in the CRM (Activix: PUT /v2/leads/:id, GHL: PUT /contacts/:id). Adapts based on CRM_PROVIDER."
    },
    {
      "id": "node-slack",
      "name": "Notify Rep via Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [1960, 700],
      "purpose": "Posts lead summary to #leads channel: lead name, vehicle interest, source, language, phone, email, assigned advisor.",
      "credentials_needed": "Slack OAuth2 API (Bot Token with chat:write scope)"
    },
    {
      "id": "node-compliance-fail",
      "name": "Log Compliance Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1960, 900],
      "purpose": "Logs COMPLIANCE_BLOCK event with lead details, failure reason, and alert payload for #compliance-alerts Slack channel. No outbound message is sent."
    }
  ],
  "connections": {
    "CRM Webhook": { "main": [[{ "node": "Webhook Verification", "type": "main", "index": 0 }]] },
    "Webhook Verification": { "main": [[{ "node": "Parse Lead Data", "type": "main", "index": 0 }]] },
    "Parse Lead Data": { "main": [[{ "node": "Language Detection", "type": "main", "index": 0 }]] },
    "Language Detection": { "main": [[{ "node": "Inventory Query", "type": "main", "index": 0 }]] },
    "Inventory Query": { "main": [[{ "node": "Generate AI Response", "type": "main", "index": 0 }]] },
    "Generate AI Response": { "main": [[{ "node": "Compliance Check", "type": "main", "index": 0 }]] },
    "Compliance Check": { "main": [[{ "node": "Compliance Pass?", "type": "main", "index": 0 }]] },
    "Compliance Pass?": {
      "main": [
        [
          { "node": "Send SMS", "type": "main", "index": 0 },
          { "node": "Send Email", "type": "main", "index": 0 },
          { "node": "Update CRM Lead", "type": "main", "index": 0 },
          { "node": "Notify Rep via Slack", "type": "main", "index": 0 }
        ],
        [
          { "node": "Log Compliance Failure", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "environment_variables_required": [
    "CRM_PROVIDER — 'activix' (default) or 'ghl'",
    "MESSAGING_PROVIDER — 'twilio' (default) or 'ghl'",
    "ACTIVIX_WEBHOOK_SECRET — HMAC secret for Activix webhook signature verification",
    "ACTIVIX_API_TOKEN — Activix API Bearer token",
    "ACTIVIX_API_URL — Activix API base URL (default: https://api.crm.activix.ca/v2)",
    "GHL_API_KEY — GoHighLevel API Bearer token",
    "GHL_LOCATION_ID — GoHighLevel location ID",
    "TWILIO_ACCOUNT_SID — Twilio Account SID",
    "TWILIO_AUTH_TOKEN — Twilio Auth Token",
    "TWILIO_FROM_NUMBER — Twilio phone number for outbound SMS (e.g., +15145550100)",
    "FROM_EMAIL — SendGrid verified sender email"
  ],
  "credentials_required": [
    "Twilio API — Account SID + Auth Token (if MESSAGING_PROVIDER=twilio)",
    "SendGrid — HTTP Header Auth with Bearer token",
    "Activix API — HTTP Header Auth with Bearer token (if CRM_PROVIDER=activix)",
    "GHL API — Bearer token (if CRM_PROVIDER=ghl)",
    "Slack — OAuth2 Bot Token with chat:write scope"
  ],
  "flow_diagram": "CRM Webhook -> Webhook Verification -> Parse Lead Data -> Language Detection -> Inventory Query -> Generate AI Response -> Compliance Check -> IF(pass) -> [SMS (Twilio/GHL), SendGrid Email, CRM Update (Activix/GHL), Slack Notify] | IF(fail) -> [Log Compliance Failure]"
}
