workflows/meta-capi-tracking.json
{
  "name": "Meta Conversions API (CAPI) — Server-Side Tracking",
  "description": "Server-side conversion tracking for Meta ads. Receives conversion events from dealer websites (Lead, ViewContent, Schedule, Purchase), hashes PII per Meta requirements (SHA256), builds CAPI payload, and sends to Meta Graph API. Bypasses ad blockers for improved attribution and ad optimization. Dead letter queue for failed events.",
  "n8n_workflow_id": "YWMy7GvBignFzbuj",
  "n8n_instance": "https://nexusagents.app.n8n.cloud",
  "webhook_path": "/webhook/meta-capi",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Toronto",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true
  },
  "nodes": [
    {
      "id": "node-webhook",
      "name": "Receive Conversion Event",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 300],
      "parameters": {
        "path": "meta-capi",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": { "rawBody": true }
      },
      "purpose": "Receives POST from dealer websites with conversion event data. Supports events: Lead, ViewContent, Schedule, Purchase, Contact, SubmitApplication, Search."
    },
    {
      "id": "node-parse",
      "name": "Parse Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 300],
      "parameters": {
        "jsCode": "// Parse incoming conversion event from dealer website\nconst input = $input.first().json;\nconst body = input.body || input;\n\n// Extract event data\nconst event_name = body.event_name || 'Lead';\nconst validEvents = ['Lead', 'ViewContent', 'Schedule', 'Purchase', 'Contact', 'SubmitApplication', 'Search'];\nif (!validEvents.includes(event_name)) {\n  throw new Error(`Invalid event_name: ${event_name}. Must be one of: ${validEvents.join(', ')}`);\n}\n\n// Extract user data (raw — will be hashed in next node)\nconst user_data = body.user_data || {};\nconst email = user_data.email || user_data.em || null;\nconst phone = user_data.phone || user_data.ph || null;\nconst client_ip_address = user_data.client_ip_address || input.headers?.['x-forwarded-for'] || input.headers?.['x-real-ip'] || null;\nconst client_user_agent = user_data.client_user_agent || input.headers?.['user-agent'] || null;\nconst fbc = user_data.fbc || body.fbc || null;\nconst fbp = user_data.fbp || body.fbp || null;\nconst external_id = user_data.external_id || body.lead_id || null;\n\n// Extract custom data\nconst custom_data = body.custom_data || {};\nconst vehicle_make = custom_data.vehicle_make || null;\nconst vehicle_model = custom_data.vehicle_model || null;\nconst value = custom_data.value ? parseFloat(custom_data.value) : null;\nconst currency = custom_data.currency || 'CAD';\nconst content_name = custom_data.content_name || (vehicle_make && vehicle_model ? `${vehicle_make} ${vehicle_model}` : null);\nconst content_category = custom_data.content_category || 'vehicle';\n\n// Event source URL\nconst event_source_url = body.event_source_url || input.headers?.referer || null;\n\n// Event ID for deduplication (browser + server events)\nconst event_id = body.event_id || `srv_${Date.now()}_${Math.random().toString(36).slice(2, 10)}`;\n\nreturn [{\n  json: {\n    event_name,\n    event_id,\n    event_time: Math.floor(Date.now() / 1000),\n    event_source_url,\n    user_data: {\n      email,\n      phone,\n      client_ip_address,\n      client_user_agent,\n      fbc,\n      fbp,\n      external_id\n    },\n    custom_data: {\n      vehicle_make,\n      vehicle_model,\n      value,\n      currency,\n      content_name,\n      content_category\n    }\n  }\n}];"
      },
      "purpose": "Extracts and validates event_name, user_data (email, phone, IP, UA, fbc, fbp cookies), and custom_data (vehicle info, value, currency) from the incoming POST body."
    },
    {
      "id": "node-hash",
      "name": "Hash PII",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 300],
      "parameters": {
        "jsCode": "// SHA256 hash PII fields per Meta Conversions API requirements\n// Meta requires: lowercase, trimmed, then SHA256 hashed\nconst crypto = require('crypto');\n\nfunction sha256Hash(value) {\n  if (!value) return null;\n  const normalized = String(value).toLowerCase().trim();\n  if (!normalized) return null;\n  // If already hashed (64 hex chars), pass through\n  if (/^[a-f0-9]{64}$/.test(normalized)) return normalized;\n  return crypto.createHash('sha256').update(normalized).digest('hex');\n}\n\nfunction normalizePhone(phone) {\n  if (!phone) return null;\n  let digits = String(phone).replace(/\\D/g, '');\n  if (digits.length === 10) digits = '1' + digits;\n  return digits;\n}\n\nconst input = $input.first().json;\nconst userData = input.user_data;\n\nconst hashedEmail = sha256Hash(userData.email);\nconst normalizedPhone = normalizePhone(userData.phone);\nconst hashedPhone = sha256Hash(normalizedPhone);\nconst hashedExternalId = sha256Hash(userData.external_id);\n\nreturn [{\n  json: {\n    ...input,\n    user_data: {\n      em: hashedEmail ? [hashedEmail] : [],\n      ph: hashedPhone ? [hashedPhone] : [],\n      client_ip_address: userData.client_ip_address,\n      client_user_agent: userData.client_user_agent,\n      fbc: userData.fbc,\n      fbp: userData.fbp,\n      external_id: hashedExternalId ? [hashedExternalId] : []\n    },\n    _hashing: {\n      email_provided: !!userData.email,\n      phone_provided: !!userData.phone,\n      external_id_provided: !!userData.external_id\n    }\n  }\n}];"
      },
      "purpose": "SHA256 hashes email and phone per Meta requirements. Normalizes email (lowercase, trim) and phone (digits only, adds country code 1 for 10-digit numbers). Passes through already-hashed values."
    },
    {
      "id": "node-build-payload",
      "name": "Build CAPI Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 300],
      "parameters": {
        "jsCode": "// Build Meta Conversions API payload\nconst input = $input.first().json;\n\nconst event = {\n  event_name: input.event_name,\n  event_time: input.event_time,\n  event_id: input.event_id,\n  action_source: 'website',\n  user_data: {}\n};\n\nconst ud = input.user_data;\nif (ud.em && ud.em.length > 0) event.user_data.em = ud.em;\nif (ud.ph && ud.ph.length > 0) event.user_data.ph = ud.ph;\nif (ud.client_ip_address) event.user_data.client_ip_address = ud.client_ip_address;\nif (ud.client_user_agent) event.user_data.client_user_agent = ud.client_user_agent;\nif (ud.fbc) event.user_data.fbc = ud.fbc;\nif (ud.fbp) event.user_data.fbp = ud.fbp;\nif (ud.external_id && ud.external_id.length > 0) event.user_data.external_id = ud.external_id;\n\nif (input.event_source_url) event.event_source_url = input.event_source_url;\n\nconst cd = input.custom_data;\nconst customData = {};\nif (cd.vehicle_make) customData.vehicle_make = cd.vehicle_make;\nif (cd.vehicle_model) customData.vehicle_model = cd.vehicle_model;\nif (cd.value !== null && cd.value !== undefined) customData.value = cd.value;\nif (cd.currency) customData.currency = cd.currency;\nif (cd.content_name) customData.content_name = cd.content_name;\nif (cd.content_category) customData.content_category = cd.content_category;\n\nif (Object.keys(customData).length > 0) event.custom_data = customData;\n\nconst hasUserData = Object.keys(event.user_data).length > 0;\nif (!hasUserData) {\n  throw new Error('At least one user_data field required (email, phone, IP, user agent, fbc, or fbp)');\n}\n\nconst payload = { data: [event] };\n\nconst pixelId = $env.META_PIXEL_ID;\nconst accessToken = $env.META_ACCESS_TOKEN;\nif (!pixelId || !accessToken) {\n  throw new Error('META_PIXEL_ID and META_ACCESS_TOKEN environment variables are required');\n}\n\nconst apiUrl = `https://graph.facebook.com/v19.0/${pixelId}/events?access_token=${accessToken}`;\n\nreturn [{\n  json: {\n    payload,\n    apiUrl,\n    _meta: {\n      event_name: input.event_name,\n      event_id: input.event_id,\n      user_data_fields: Object.keys(event.user_data),\n      custom_data_fields: Object.keys(customData),\n      hashing: input._hashing\n    }\n  }\n}];"
      },
      "purpose": "Formats the full Meta Conversions API payload with data[] array, constructs the Graph API URL with pixel ID and access token from env vars. Validates at least one user_data field is present."
    },
    {
      "id": "node-send-meta",
      "name": "Send to Meta CAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "method": "POST",
        "url": "={{ $json.apiUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": { "timeout": 30000, "fullResponse": true }
      },
      "purpose": "POST to Meta Graph API v19.0 /{PIXEL_ID}/events. Retries 3x with 5s wait on failure. 30s timeout."
    },
    {
      "id": "node-log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 200],
      "parameters": {
        "jsCode": "// Log successful Meta CAPI event submission\nconst response = $input.first().json;\nconst meta = $('Build CAPI Payload').first().json._meta;\n\nconst result = {\n  status: 'SUCCESS',\n  timestamp: new Date().toISOString(),\n  event_name: meta.event_name,\n  event_id: meta.event_id,\n  user_data_fields: meta.user_data_fields,\n  custom_data_fields: meta.custom_data_fields,\n  hashing: meta.hashing,\n  meta_response: {\n    events_received: response.body?.events_received || response.events_received || null,\n    messages: response.body?.messages || response.messages || [],\n    fbtrace_id: response.body?.fbtrace_id || response.fbtrace_id || null,\n    http_status: response.statusCode || 200\n  }\n};\n\nconsole.log(`[META-CAPI] SUCCESS: ${meta.event_name} (${meta.event_id}) — events_received: ${result.meta_response.events_received}`);\n\nreturn [{\n  json: {\n    success: true,\n    event_id: meta.event_id,\n    event_name: meta.event_name,\n    events_received: result.meta_response.events_received,\n    timestamp: result.timestamp\n  }\n}];"
      },
      "purpose": "Logs successful event submission with Meta response details (events_received, fbtrace_id). Returns success response to webhook caller."
    },
    {
      "id": "node-log-failure",
      "name": "Log Failure — Dead Letter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 420],
      "continueOnFail": true,
      "parameters": {
        "jsCode": "// Dead letter handler for failed Meta CAPI submissions\nconst error = $input.first().json;\nconst meta = $('Build CAPI Payload').first().json._meta || {};\nconst payload = $('Build CAPI Payload').first().json.payload || {};\n\nconst deadLetter = {\n  status: 'FAILED',\n  timestamp: new Date().toISOString(),\n  event_name: meta.event_name || 'unknown',\n  event_id: meta.event_id || 'unknown',\n  error: {\n    message: error.message || error.error?.message || 'Unknown error',\n    statusCode: error.statusCode || error.code || null,\n    meta_error: error.body?.error || error.error || null\n  },\n  original_payload: payload,\n  retry_info: {\n    max_retries: 3,\n    all_retries_exhausted: true\n  }\n};\n\nconsole.error(`[META-CAPI] FAILED: ${deadLetter.event_name} (${deadLetter.event_id}) — ${deadLetter.error.message}`);\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.deadLetterQueue) staticData.deadLetterQueue = [];\nstaticData.deadLetterQueue.push(deadLetter);\nif (staticData.deadLetterQueue.length > 100) {\n  staticData.deadLetterQueue = staticData.deadLetterQueue.slice(-100);\n}\n\nreturn [{\n  json: {\n    success: false,\n    event_id: deadLetter.event_id,\n    event_name: deadLetter.event_name,\n    error: deadLetter.error.message,\n    timestamp: deadLetter.timestamp,\n    queued_for_retry: true\n  }\n}];"
      },
      "purpose": "Dead letter queue for events that fail after 3 retries. Stores original payload in workflow static data (capped at 100 entries) for manual replay. Returns error response to caller."
    }
  ],
  "connections": {
    "Receive Conversion Event": {
      "main": [[{"node": "Parse Event", "type": "main", "index": 0}]]
    },
    "Parse Event": {
      "main": [[{"node": "Hash PII", "type": "main", "index": 0}]]
    },
    "Hash PII": {
      "main": [[{"node": "Build CAPI Payload", "type": "main", "index": 0}]]
    },
    "Build CAPI Payload": {
      "main": [[{"node": "Send to Meta CAPI", "type": "main", "index": 0}]]
    },
    "Send to Meta CAPI": {
      "main": [
        [{"node": "Log Success", "type": "main", "index": 0}],
        [{"node": "Log Failure — Dead Letter", "type": "main", "index": 0}]
      ]
    }
  },
  "environment_variables": {
    "META_PIXEL_ID": "Your Meta Pixel ID from Events Manager",
    "META_ACCESS_TOKEN": "System User access token from Meta Business Manager with ads_management permission"
  },
  "integration_example": {
    "description": "POST this JSON to the webhook endpoint from your dealer website",
    "endpoint": "https://nexusagents.app.n8n.cloud/webhook/meta-capi",
    "method": "POST",
    "body": {
      "event_name": "Lead",
      "event_source_url": "https://dealer.com/vehicle/honda-crv",
      "event_id": "lead_12345",
      "user_data": {
        "email": "customer@example.com",
        "phone": "514-555-1234",
        "fbc": "fb.1.1554763741205.AbCdEfGhIjKlMnOpQrStUvWxYz1234567890",
        "fbp": "fb.1.1558571054389.1098115397"
      },
      "custom_data": {
        "vehicle_make": "Honda",
        "vehicle_model": "CR-V",
        "value": 32000,
        "currency": "CAD"
      }
    }
  }
}
